body{
    background-image: url(Képek/munka1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 100%;
}
main{
    max-width: 900px;
    margin: auto;
    display:grid;
    background: rgba(0, 0, 0, 0.5);
    grid-template-areas:"h  h  h" 
                        "n  n  n"
                        "a  a  a"
                        "a  a  a"
                        "f  f  f";

    grid-template-columns: 1fr 1fr 1fr;
}
header{
    grid-area: h;
    height: 100px;

}
header h1{
    color: white;
    font-size: 300%;
    text-align: center;
}
nav{
grid-area: n;
}
nav li {
    text-decoration-color: black;
    display:inline-block;
    text-decoration: none;
    width: 30%;
    padding: 10px;
    
        }
    nav ul li a{
        color: white;
        font-size: 1cm;
        text-decoration: none;
    }
    a:hover {
        color: red;
    }


article{
    grid-area: a;


}
aside{
    grid-area: as;
}

section{
    grid-area: s;
}
footer{
    grid-area: f;
}
img {
    height: 280px;
    min-width: 280px;
	padding:10px;
	margin:10px;
}
.bal1 {
    display: block;
    width: 100%;
    height: auto;
  }
.bal2 {
    display: block;
    width: 100%;
    height: auto;
  }
.jobb1 {
    display: block;
    width: 100%;
    height: auto;
    height: 300px;
  }
.jobb2 {
    display: block;
    width: 100%;
    height: auto;
  }
.dobó {
    position: relative;
    width: 50%;
    max-width: 300px;
  }
  .black {
    position: relative;
    width: 50%;
    max-width: 300px;
  }
.csapat {
    position: relative;
    width: 50%;
    max-width: 300px;
  }
.Sakk {
    position: relative;
    width: 50%;
    max-width: 300px;
  }
.dobó {
    float: left;
    clear: left;
}
.black {
    float: right;
    clear: right;
}
.csapat{
    float: left;
    clear: left;
}
.Sakk{
    float: right;
    clear: right;
}
.overlay {
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5); /* Black see-through */
    color: #f1f1f1;
    width: 100%;
    transition: .5s ease;
    opacity:0;
    color: white;
    font-size: 20px;
    padding: 20px;
    text-align: center;
  }
.dobó:hover .overlay {
    opacity: 1;
}

.black:hover .overlay {
    opacity: 1;
  }
.csapat:hover .overlay {
    opacity: 1;
}

.Sakk:hover .overlay {
    opacity: 1;
  }
@media only screen and (max-width: 600px) {
    main{
        max-width: 1000px;
        margin: auto;
        display:grid;
        background: rgba(0, 0, 0, 0.5);
        grid-template-areas:"h" 
                            "n"
                            "a"
                            "a";
        grid-template-columns: 1fr;
    }
    nav{
        grid-area: n;
        grid-template-columns: 1fr;
    }
    article{
        grid-area: a;
        grid-template-columns: 1fr;
    }
    aside{
        grid-area: as;
    }
    section{
        grid-area: s;
    }
    footer{
        grid-area: f;
}
}